<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snakegj"
    android:versionCode="3"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gilet_jaune"
        android:label="@string/snakegj"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".jeu.ModeJeu"></activity>

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <activity
            android:name=".chargement.ChargementJeu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chargement.ChargementApp"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".popup.PopupFinPartie"
            android:screenOrientation="portrait" />
        <activity
            android:name=".popup.PopupPause"
            android:screenOrientation="portrait" />
        <activity
            android:name=".popup.PopupTutoriel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Renseignement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Classement"
            android:label="@string/title_activity_classement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jeu.Jeu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
    </application>

</manifest>